# Archivos de sistema
.DS_Store
Thumbs.db

# Reportes generados por Newman
newman/*.html
newman/*.json
newman/*.xml

# Node modules (si usás scripts con Node.js)
node_modules/

# Archivos de logs
*.log
